@using Model.Domain
@using ShoppingCart.Helpers

@{
    short? roleId = User.Identity.IsAuthenticated ? User.GetRoleId() : null;
}

<div id="install-banner" class="alert alert-dismissible fade show m-0 shadow p-3" role="alert" style="background-color: #F8BD01; color: #221109; font-weight: bold; z-index: 1050; display: none">
    <div class="row align-items-center">
        <div class="col-md-8">
            <strong>¡Instala nuestra app!</strong>
            <br>
            <span id="ios-message" style="display: none; font-size: 14px; color: #221109; font-weight: normal;">En Safari, toca el botón de compartir y selecciona "Agregar a la pantalla de inicio"</span>
        </div>
        <div class="col-md-4 text-right">
            <button type="button" class="btn btn-dark btn-sm" id="install-btn" style="display: none; padding: 5px 15px; font-size: 14px; border-radius: 5px;">Instalar</button>
            <button type="button" class="btn btn-link btn-sm" data-dismiss="alert" aria-label="Close" id="close-banner" style="font-size: 16px; color: #221109; text-decoration: underline;">
                Cerrar
            </button>
        </div>
    </div>
</div>
<nav class="nav">
    <div class="logo">
        @* <a href="@Url.Action("Index", "Home")"><img src="~/images/logo.png" alt="logo" /></a> *@
    </div>
    <div class="cart-profile">
        @if (User.Identity.IsAuthenticated)
        {
            <a href="@Url.Action("Logout", "Account")" class="signup-btn btn btn-warning">
                <i class="fa-solid fa-right-from-bracket"></i>
                Salir
            </a>
        }
        else
        {

            <a href="@Url.Action("Login", "Account")" class="signup-btn btn btn-warning">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                Ingresar
            </a>
        }
    </div>
    <div class="hamburger pr-2">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
</nav>
@if (User.Identity.IsAuthenticated)
{
    <nav class="nav cart-nav">
        <ul class="navlinks">
            @if (roleId != (short)eRole.StockManager)
            {
                <li><a href="@Url.Action("Index", "Order")" class="h5"><i class="fa-solid fa-cart-shopping"></i> Ventas</a></li>
            }
            @if (roleId != (short)eRole.Purchasing)
            {
                <li><a href="@Url.Action("Index", "DepositMovement")" class="h5"><i class="fa-solid fa-right-left"></i> Movimientos</a></li>
            }
            @if (roleId == (short)eRole.Administrator)
            {
                <li style="position: relative; padding: 0; padding-top: 2px">
                    <a class="dropdown-toggle h5" id="desktopDropdown">
                        <i class="fa-solid fa-gear"></i> Configuraciones
                    </a>
                    <div class="w-100 dropdown-menu background-color-principal" id="desktopDropdownMenu">
                        <a class="dropdown-item h5" href="@Url.Action("Index", "Client")">Clientes</a>
                        <a class="dropdown-item h5" href="@Url.Action("Index", "User")">Usuarios</a>
                        <a class="dropdown-item h5" href="@Url.Action("Index", "Product")">Artículos</a>
                    </div>
                </li>
            }
        </ul>
    </nav>
}
<div class="menubar">
    <ul>
        <li><a href="@Url.Action("Index", "Home")"><i class="fa-solid fa-house"></i> Inicio</a></li>
        @if (User.Identity.IsAuthenticated)
        {
            @if (roleId != (short)eRole.StockManager)
            {
                <li><a href="@Url.Action("Index", "Order")" class="h5"><i class="fa-solid fa-cart-shopping"></i> Ventas</a></li>
            }
            @if (roleId != (short)eRole.Purchasing)
            {
                <li><a href="@Url.Action("Index", "DepositMovement")" class="h5"><i class="fa-solid fa-right-left"></i> Movimientos</a></li>
            }
            @if (roleId == (short)eRole.Administrator)
            {
                <li style="position: relative; padding: 0; padding-top: 2px">
                    <a href="#" class="dropdown-toggle h5" id="mobileDropdown">
                        <i class="fa-solid fa-gear"></i> Configuraciones
                    </a>
                    <div class="w-100 dropdown-menu background-color-principal" id="mobileDropdownMenu">
                        <a class="dropdown-item h5" href="@Url.Action("Index", "Client")">Clientes</a>
                        <a class="dropdown-item h5" href="@Url.Action("Index", "User")">Usuarios</a>
                        <a class="dropdown-item h5" href="@Url.Action("Index", "Product")">Artículos</a>
                    </div>
                </li>
            }
        }
        <li>
            @if (User.Identity.IsAuthenticated)
            {
                <a href="@Url.Action("Logout", "Account")" class="signup-btn btn btn-warning" style="color: black !important">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Salir
                </a>
            }
            else
            {

                <a href="@Url.Action("Login", "Account")" class="signup-btn btn btn-warning" style="color: black !important">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    Ingresar
                </a>
            }
        </li>
    </ul>
</div>
<script>

    function setupDropdown(dropdownId, menuId) {
        const dropdownToggle = document.getElementById(dropdownId);
        const dropdownMenu = document.getElementById(menuId);

        dropdownToggle.addEventListener("click", function (event) {
            dropdownMenu.style.display = dropdownMenu.style.display === "block" ? "none" : "block";
        });

        window.addEventListener("click", function (event) {
            if (!dropdownToggle.contains(event.target) && !dropdownMenu.contains(event.target)) {
                dropdownMenu.style.display = "none";
            }
        });
    }
    @if (roleId == (short)eRole.Administrator)
    {
        <text>
                setupDropdown("desktopDropdown", "desktopDropdownMenu");
                setupDropdown("mobileDropdown", "mobileDropdownMenu");
        </text>
    }
</script>