@using Model.Domain
@model Service.Data.ProductImageData

@{
    ViewBag.Title = "Index";
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

@section Styles
{
    <link href="~/content/datatable/datatables.min.css" rel="stylesheet">
    <link href="~/content/sweet-alert2/css/sweetalert2.min.css" rel="stylesheet">
    <link href="~/css/tables.css" rel="stylesheet">
}

<div class="row">
    <div class="col-md-12">
        <h4 class="page-title text-center">OFERTAS</h4>
    </div>
</div>
<div class="row mb-3">
    <div class="col-md-12">
        <div id="partialMessages" style="height:40px">
            @await Html.PartialAsync("_Messages")
        </div>
    </div>
</div>
@using (Html.BeginForm("Create", "ProductImage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.ProductId)
    <div class="row">
        <div class="col-md-12">
            <h6>* El orden en la pantalla de ofertas será descendente, es decir, el de mayor orden aquí será primero en la otra.</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.File)
            @Html.TextBoxFor(model => model.File, new { type = "file", @class = "form-control", accept = "image/*" })
            @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-3 form-group mt-md-3">
            <button type="submit" class="btn btn-primary mt-md-3">Agregar <i class="fa-solid fa-upload"></i></button>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <table id="Grid" class="table table-striped table-bordered table-hover" width="100%">
            <thead>
                <tr>
                    <th class="text-center">Imagen</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts
{
    <script src="~/content/datatable/datatables.min.js"></script>
    <script src="~/content/sweet-alert2/js/sweetalert2.all.min.js"></script>
    <script>
        $(document).ready(function () {
                    var grid = $('#Grid').DataTable({
            "processing": true,
            "serverSide": true,
            responsive: {
                details: {
                    type: 'inline',
                    renderer: function (api, rowIdx, columns) {
                        var data = $.map(columns, function (col) {
                            return col.hidden
                                ? `
                                <div class="detail-item">
                                    <span class="detail-title">${col.title}:</span>
                                    <span class="detail-data">${col.data}</span>
                                </div>
                                `
                                : '';
                        }).join('');
                        return data ? `<div class="details-container">${data}</div>` : false;
                    }
                }
            },
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "info": false,
            "autoWidth": false,
            "ajax": {
                "url": "@Url.Action("Grid", controllerName)?productId=" + @Model.ProductId,
                "type": "POST",
                "contentType": 'application/json; charset=utf-8',
                'data': function (data) { return data = JSON.stringify(data); }
            },
            "order": [[0, "desc"]],
            "columns": [
                {
                    "data": "Path",
                    "responsivePriority": 1,
                    "className": "text-center",
                    "render": function (data, type, row) {
                        if (!data) return "";

                        // Si es imagen
                        if (/\.(jpg|jpeg|png|gif|webp)$/i.test(data)) {
                            return `<img src="${data}" alt="imagen" style="max-height:250px; border-radius:4px;" />`;
                        }

                        // Si es PDF
                        if (/\.pdf$/i.test(data)) {
                            return `<a href="${data}" target="_blank">
                                       <i class="fa fa-file-pdf-o fa-2x text-danger"></i>
                                    </a>`;
                        }

                        // Otro archivo → mostrar link
                        return `<a href="${data}" target="_blank">${data}</a>`;
                    }
                },
                { "data": "Actions", "responsivePriority": 1, "className": "text-center" }
            ],
            "language": {
                "decimal": ",",
                "emptyTable": "No hay datos disponibles en la tabla",
                "info": "_START_ a _END_ de _TOTAL_ registros",
                "infoEmpty": "0 a 0 de 0 registros",
                "infoFiltered": "(filtrado de _MAX_ registros en total)",
                "thousands": ".",
                "lengthMenu": "Mostrar _MENU_ registros",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "searchPlaceholder": "Buscar...",
                "zeroRecords": "No se encontraron registros coincidentes",
                "paginate": {
                    "first": "<<",
                    "last": ">>",
                    "next": ">",
                    "previous": "<"
                }
            },
            "columnDefs": [
                {
                    "targets": [-1],
                    "orderable": false,
                    "createdCell": function (td, cellData, rowData, row, col) {
                        var del = "<button type='button' class='btn btn-sm btn-danger mb-1 mr-1' title='Eliminar archivo' onclick='deleteElement(" + rowData.Id + ")'> Eliminar</button>";
                        $(td).css("text-align", "center");
                        $(td).append(del);
                    }
                }
            ]
        });


            $("#Grid_filter input")
                .unbind()
                .bind("input", function (e) {
                    
                    if (this.value.length >= 3) {

                        grid.search(this.value).draw();
                    }
                    if (this.value == "") {
                        grid.search("").draw();
                    }
                    return;
                });
        });

        function deleteElement(id) {
            Swal.fire({
                title: "¿Está seguro de eliminar este item?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar',
                reverseButtons: true,
                customClass: {
                    confirmButton: 'btn btn-success', 
                    cancelButton: 'btn btn-danger mr-2'    
                },
                buttonsStyling: false,
                allowOutsideClick: false
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("Delete")?id=' + id,
                        type: 'POST',
                        success: function (result) {
                            if(result){
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Éxito',
                                    text: 'Se ha eliminado correctamente el item',
                                    timer: 1500,
                                    showConfirmButton: false
                                });
                                $('#Grid').DataTable().draw();
                            }else{
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error',
                                    text: 'No se ha podido eliminar el item',
                                    timer: 1500,
                                    showConfirmButton: false
                                });
                            }
                        },
                        error: function () {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'No se ha podido eliminar el item',
                                timer: 1500,
                                showConfirmButton: false
                            });
                        }
                    });
                }
            });
        }
    </script>
}